*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 87.2%;
	margin: 0 auto;

	@include tablet {
		width: 89.5%;
	}

	@include desktop {
		width: 77%;
	}
}

button {
	cursor: pointer;
}

.grid-col-4 {
	display: grid;
	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}
	@include desktop {
		grid-template-columns: repeat(4, 1fr);
	}
}
