*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 87.2%;
	margin: 0 auto;

	@include tablet {
		width: 89.5%;
	}

	@include desktop {
		width: 77%;
	}
}

button {
	cursor: pointer;
}

.grid-col-4 {
	display: grid;
	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}
	@include desktop {
		grid-template-columns: repeat(4, 1fr);
	}
}

.grid-col-3 {
	display: grid;
	@include tablet {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10px;
		align-items: center;
	}
	@include desktop {
		grid-template-columns: repeat(3, 1fr);
		align-items: start;
		row-gap: 104px;
		column-gap: 30px;
	}
}

.showcase .main-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 24px;
	width: 128px;
	height: 6px;
	background: linear-gradient(to right, #ffc593, #bc7198, #5a77ff);

	@include tablet {
		width: 6px;
		height: 304px;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		background: linear-gradient(to top, #ffc593, #bc7198, #5a77ff);
	}
}

.features-intro {
	padding: 8rem 0;

	@include tablet {
		padding: 12rem 0;
	}

	.container {
		width: 82.6%;

		@include tablet {
			width: 59.5%;
		}

		@include desktop {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			width: 77.08%;
		}
	}

	.features__card:last-of-type {
		margin-bottom: 0;
	}
}

.featured {
	.card {
		.card__image {
			@include tablet {
				display: none;
			}
		}

		.card__content {
			padding: 4.8rem 0;

			&.main-card {
				@include tablet {
					background: url(../../assets/stories/tablet/moon-of-appalacia.jpg)
						no-repeat;
					background-size: cover;
					width: 100%;
					padding: 11rem 0;
				}

				@include desktop {
					background: url(../../assets/stories/desktop/moon-of-appalacia.jpg)
						no-repeat;
					background-size: cover;
				}
			}

			.container {
				@include tablet {
					width: 50.39%;
					margin: 0;
					margin-left: 5.2%;
				}

				@include desktop {
					margin-left: 7.7%;
					width: 26.875%;
				}
			}
		}

		.featured__title {
			text-transform: uppercase;
			margin: 0 0 1.6rem;

			@include tablet {
				margin-bottom: 2.4rem;
			}
		}

		.featured__info {
			display: flex;

			.story__date {
				margin-right: 0.8rem;
				opacity: 0.75;
				font-weight: 400;
				letter-spacing: 0;
			}

			.story__author {
				font-weight: 400;
				letter-spacing: 0;
			}
		}
	}
}

.features-hero,
.pricing-hero {
	&.showcase .main-card::before {
		@include tablet {
			height: 144px;
		}
	}

	.card .card__content .card__tagline {
		margin-bottom: 0;
	}
}

.features {
	padding: 6.4rem 0 9.1rem;

	@include tablet {
		padding: 11.2rem 0 5.6rem;
	}
	@include desktop {
		padding: 16rem 0;
	}

	.features__card:last-of-type {
		margin-bottom: 0;

		@include tablet {
			margin-bottom: 5.6rem;
		}
		@include desktop {
			margin-bottom: 0;
		}
	}

	.features__card {
		@include desktop {
			width: 100%;
		}
	}
}

.beta-showcase {
	.card {
		.card__content.main-card {
			width: 100%;
			background: url(../../assets/shared/mobile/bg-beta.jpg) no-repeat;
			background-size: cover;

			@include tablet {
				background: url(../../assets/shared/tablet/bg-beta.jpg) no-repeat;
				background-size: cover;
				padding: 6.8rem 0;
			}
			@include desktop {
				background: url(../../assets/shared/desktop/bg-beta.jpg) no-repeat;
				background-size: cover;
			}

			&::before {
				@include tablet {
					height: 100%;
				}
			}

			.container {
				@include tablet {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 89.5%;

					.card__title {
						width: 58.2%;
						margin-bottom: 0;
					}
				}
				@include desktop {
					width: 77.08%;

					.card__title {
						width: 36.03%;
					}
				}
			}
		}
	}
}

.pricing-plans {
	padding: 6.4rem 0;

	.pricing-cards {
		margin-top: 4rem;

		@include desktop {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
